<%= content_for :title, @listing.title %> 

<div class="max-w-md relative flex flex-col p-4 rounded-md text-black bg-white m-auto mt-10 md:mt-40">
  <%= form_with(
    model: @listing,
    class: "flex flex-col gap-3",
    id: "edit_listing_form",
  ) do |form| %>
    <%= render "form", form: form %>
  <% end %>
  <div class="flex justify-center mt-8">
    <%= button_to t(".delete"),
      listing_path(@listing),
      method: :delete,
      form: { data: {
        turbo_confirm: t(".confirm_delete")
      }},
      class: "px-4 py-2 bg-red-500 text-white rounded-md m-3" %>
    <%= submit_tag t(".publish"),
      form: "edit_listing_form",
      class: "px-4 py-2 bg-blue-500 text-white rounded-md m-3" %>
  </div>
</div>
